# Data dirs
data/history
data/schedules
data/storage
data/logs
data/.telemetry
data/.logs_queue
data/.nux

# Legacy working dirs
legacy

# Tutorial and scratchpad files
etl_tools/src/general/gitstars.py
etl_tools/src/general/hackernews.py
etl_tools/src/general/hn_dagster.py
etl_tools/tests/general_tests/test_assets.py